{% extends "base.html" %}

{% block  title %}
    Bienvenido
{% endblock  %}


{% block content %}

<body id="page-top">
    
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Bienvenido a Othello</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Seleccione jugar para comenzar el juego.</h2>
                <a class="btn btn-primary js-scroll-trigger" href="/game">Jugar</a>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="Instrucciones">
        <h2 class="text-white mb-4">Instrucciones del Juego</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="container">
                        <div>
                            <div class="col">
                                <p class="text-white text-justify mb-4" >El objetivo del juego es tener la mayor cantidad de fichas del 
                                                           propio color sobre el tablero al final de la partida.
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-white text-justify mb-4">El juego se lleva a cabo dentro de un tablero de 6x6 y 36 fichas.
                                                           Se puede jugar en modalidad Humano v/s Humano o Humano v/s IA, al iniciar el juego 
                                                           se colocarán 4 fichas en el centro del tablero, 2 blancas y 2 negras.
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-white text-justify mb-4">Un movimiento consiste en colocar una ficha propia dentro del tablero de forma que 
                                                           se “coma” una o mas fichas del oponente, las fichas “comidas” serán cambiadas por el color del jugador de turno, 
                                                           una vez realizada la acción el turno pasa al jugador contrario, esta acción se repetirá hasta que se logre 
                                                           rellenar todo el tablero con fichas, si un jugador no puede realizar movimientos dentro del tablero el turno 
                                                           pasara al oponente, en caso de que ninguno de los dos jugadores pueda mover sus fichas la partida finalizara.
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-white text-justify mb-4">El jugador ganador será quien posea la mayor cantidad de fichas dentro del tablero.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects-->

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->

    <script src="js/scripts.js"></script>

</body>

{% endblock  %}